.head-bar{
  display: flex;
  height: 50px;
  color: white;
  background-color: darkred;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
}

.search-bar-div{
  white-space: nowrap;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.search-bar-text{
  background-color: grey;
  height: 36px;
  border-radius: 2px 0 0 2px;
  display: flex;
  align-items: center;
  padding: 0 5px;

}

.search-bar-input{
  width: 500px;
  height: 30px;
  border-style: solid;
  border-radius: 0 2px 2px 0;
  border-color: grey;
}

.search-bar-input:focus{
  outline: none;
}

.search-button{
  height: 35px;
  display: flex;
  aspect-ratio: 1/1;
  margin-right: 10px;
  border-radius: 50%;
  align-items: center;
  margin-left: -17.5px;
  border-color: grey;
  border-style: solid;
  transition: background-color .15s;
}

.search-button:hover{
  cursor:pointer;
}

.search-button:active{
  background-color: rgb(85, 85, 85);

}

.search-icon{
  width: 100%;
}

.right-div{
  display:flex;
  align-items: center;
  justify-content: right;
  height: 50px;
  width: 80px;
  position: relative;
}

.head-bar-cart{
  padding-right: 20px;
  height: 80%;
}

.head-bar-cart:hover{
  cursor:pointer;
}

.cart-quantity{
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  top: 3px;
  right: 15px;
  z-index: 1;
}