.head-bar{
  display:grid;
  height: 50px;
  color: white;
  background-color: darkred;
  grid-template-columns: 1fr 1fr 1fr;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 100;
}



.head-bar-cart{
  padding-right: 20px;
  height: 80%;
}

.head-bar-cart:hover{
  cursor:pointer;
}